main {
    text-align: center;
    padding: 0px 40px;
    display: flex;
    justify-content: center;
    }
    .contenedor{
    display: flex;
    flex-direction: column;
    width: 80%;
    }
    .tarjeta {
    background: black;
    color: white;
    }